{% comment %}
  <!-- Release Date Logic for Presale products -->
{% endcomment %}
{% capture releaseDateString %}{{ product.metafields.album.release_date }}{% endcapture %}
{% assign dateParts = releaseDateString | split: "/" %}
{% capture releaseDateFormatted -%}
  {{- dateParts[2] }}-{{ dateParts[0] }}-{{ dateParts[1] -}}
{%- endcapture %}
{% assign releaseDate = releaseDateFormatted | date: "%s" | plus: 0 %}
{% assign now = "now" | date: "%s" | plus: 0 %}
{% capture presale -%}
  {%- if releaseDate > now %}true{% endif -%}
{%- endcapture %}

<!-- Begin Tracklist -->
{% assign collection_key = product.metafields.album.collection_handle %}
{% assign products = collections[collection_key].products %}
{% capture productsExist -%}
  {%- if products != '' and products.length != 0 %}true{% endif -%}
{%- endcapture %}
{% if product.metafields.album.track_count != 1 and productsExist == 'true' %}
  <div
    id='playlist'
    class='single-tracklist'
  >
    {% for track in products %}
      {% if track.type == 'Digital Track' %}
        {% render 'single-track', track: track, now: now %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
<!-- End Tracklist -->

<!-- Single Track Info -->
{% if product.metafields.album.track_count == 1 %}
  {% unless product.metafields.album.confidential_release_date == "true" %}
    {% if presale == "true" %}
      <div class='single-album-release-date'>
        Pre-order: Expected {{ releaseDateFormatted | time_tag: '%B %d, %Y' }}
      </div>
      <div class='single-presale-note'>
        Pre-order contents may change without notice. You'll receive items from this pre-order
        as they become available.
      </div>
    {% else %}
      <div class='single-album-release-date'>
        <p>Release Date: {{ releaseDateFormatted | time_tag: '%B %d, %Y' }}</p>
      </div>
    {% endif %}
  {% endunless %}
  <div
    class='single-album-description desktop-desc'
    itemprop='description'
  >
    <p>Downloads include choice of MP3, WAV, or FLAC</p>
    <p>{{ product.description }}</p>
  </div>
{% endif %}