{% comment %}
  <!--
  Copyright (c) 2021 Single, LLC - ALL RIGHTS RESERVED

  NOTICE:  All information contained herein is, and remains the property of Single, LLC
  and its suppliers, if any. The intellectual and technical concepts contained herein are
  proprietary to Single, LLC and its suppliers and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law. Dissemination of this
  information or reproduction of this material is strictly forbidden unless prior
  written permission is obtained from Single, LLC.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
  -->
{% endcomment %}

{% comment %}
  <!-- Single Default Styles - Can be edited in assets/single-v2.scss.liquid -->
{% endcomment %}
{{ 'single-v4.css' | asset_url | stylesheet_tag }}

{% comment %}
  <!-- jQuery -->
{% endcomment %}
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

<!-- Footer Player -->
{% assign now = "now" | date: "%s" | plus: 0 %}
{% assign enablePlayer = "false" %}
{% assign collection_key = product.metafields.album.collection_handle %}
{% assign products = collections[collection_key].products %}

{% for track in products %}
  {% capture trackReleaseDateString %}{{ track.metafields.track.release_date }}{% endcapture %}
  {% assign trackDateParts =  trackReleaseDateString | split: "/" %}
  {% capture trackReleaseDateFormatted -%}
    {{- trackDateParts[2] }}-{{ trackDateParts[0] }}-{{ trackDateParts[1] -}}
  {%- endcapture %}
  {% assign trackReleaseDate = trackReleaseDateFormatted | date: "%s" | plus: 0 %}
  {%- if trackReleaseDate <= now %}
    {%- if track.metafields.track.preview == "true" %}
      {% assign enablePlayer = "true" %}
    {% endif -%}
  {% endif -%}
{% endfor %}


{% if enablePlayer == "true" %}
  {% render 'single-footer-player' %}

  <script src='https://unpkg.com/wavesurfer.js'></script>
  <script>
    var singleAlbumPlayer = {
      // Declare vars
      links: document.querySelectorAll('#playlist a'),
      currentTrack: 0,
      currentTrackData: false,
      hasLoaded: false,
      wavesurfer: WaveSurfer.create({
        container: '#waveform',
        waveColor: 'rgba(255,255,255,.25)',
        progressColor: 'white',
        height: '60',
        barHeight: '1',
        barWidth: '3',
        barRadius: 3,
        cursorWidth: 1,
        mediaControls: 'true',
        responsive: 'true',
        hideScrollbar: 'true'
      }),

      addEventListeners: function addEventListeners() {
        var self = this;

        // Transform URLs
        // Add play button event listeners
        Array.prototype.forEach.call(this.links, function (link, index) {
        if(link.dataset.previewLink !== '') {
          // set the actual preview link
          $.ajax({
            url: link.dataset.previewLink,
            dataType: 'text',
            type: 'GET',
            success: function(previewURL) {
              link.dataset.href = previewURL

              var parentLink = link.parentElement
              if(parentLink && parentLink.href) {
                parentLink.href = previewURL
              }

              link.addEventListener('click', function (e) {
                e.preventDefault();
                self.setCurrentSong(index);
              });

              if(index == 0) {
                // Load the first track
                self.setCurrentSong(0);
              }
            },
            error: function(XMLHttpRequest) {
              console.log('Error playing track');
            }
          })
        }
      });

        // playPause
        document.querySelector('#playPause').addEventListener('click', function () {
          self.wavesurfer.playPause();
        });

        // prev/next watchers
        document.querySelector('.player-controls .prev').addEventListener('click', function() {
          self.setCurrentSong((self.currentTrack - 1) <= 0 ? (self.links.length - 1) : (self.currentTrack - 1));
        });

        document.querySelector('.player-controls .next').addEventListener('click', function() {
          self.setCurrentSong((self.currentTrack + 1) > (self.links.length - 1) ? 0 : (self.currentTrack + 1));
        });

        // individual product atc
        var atcs = document.querySelectorAll('.single-tracklist .single-track-add-to-cart')
        atcs.forEach(function(atc) {
          atc.addEventListener('click', function(e) {
            e.preventDefault();
            e.stopPropagation();

            var variantId = atc.dataset.variantId;
            var trackId = atc.dataset.trackId;
            self.addTrackToCart(variantId, trackId);
          });
        });

        //add to cart watcher
        document.querySelector('.single-footer-add-to-cart').addEventListener('click', function() {
          self.addTrackToCart(self.currentTrackData.variantId, self.currentTrackData.trackId);
        });
      },

      addWavesurferListeners: function addWavesurferListeners() {
        var self = this;

        // Toggle play/pause text
        this.wavesurfer.on('play', function () {
          document.querySelector('#play').style.display = 'none';
          document.querySelector('#pause').style.display = '';

          var playlistIcons = document.querySelectorAll('#playlist .single-play-icon i');
          if(playlistIcons.length > 0) {
            Array.prototype.forEach.call(playlistIcons, function (icon, index) {
              icon.innerHTML = 'play_circle_outline';
            });
          }

          var trackId = self.currentTrackData.trackId;
          var playPauseInline = document.querySelector('[data-track-id="' + trackId + '"] .single-play-icon i')
          if(playPauseInline) playPauseInline.innerHTML = 'pause_circle_outline'
        });

        this.wavesurfer.on('pause', function () {
          document.querySelector('#play').style.display = 'block';
          document.querySelector('#pause').style.display = 'none';

          var playlistIcons = document.querySelectorAll('#playlist .single-play-icon i')
          if(playlistIcons.length > 0) {
            Array.prototype.forEach.call(playlistIcons, function (icon, index) {
              icon.innerHTML = 'play_circle_outline';
            });
          }
        });

        // When wavesurfer loads a new track
        this.wavesurfer.on('audioprocess', function() {
          var totalTime = self.wavesurfer.getDuration(),
              currentTime = self.wavesurfer.getCurrentTime();

          if (self.wavesurfer.isPlaying()) {
            document.querySelector('.track-time .elapsed').innerHTML = self.toHHMMSS(currentTime);
            document.querySelector('.track-time .remaining').innerHTML = self.toHHMMSS(totalTime);
          }
        });

        // Update time on seek
        this.wavesurfer.on('seek', function (position) {
          document.querySelector('.track-time .elapsed').innerHTML = self.toHHMMSS(self.wavesurfer.getCurrentTime());
        });

        // Play on audio load
        this.wavesurfer.on('ready', function () {
          if(self.hasLoaded) {
            self.wavesurfer.play();
          } else {
            self.hasLoaded = true;
          }

          document.querySelector('.track-time .elapsed').innerHTML = '00:00';
          document.querySelector('.track-time .remaining').innerHTML = self.toHHMMSS(self.wavesurfer.getDuration());
        });

        this.wavesurfer.on('error', function (e) {
          console.warn(e);
        });

        // Go to the next track on finish
        this.wavesurfer.on('finish', function () {
          self.setCurrentSong((self.currentTrack + 1) % self.links.length);
        });
      },

      setCurrentSong: function setCurrentSong(index) {
        if(index != this.currentTrack || !this.hasLoaded) {
          this.links[this.currentTrack].classList.remove('active');

          this.currentTrack = index;
          this.currentTrackData = this.links[this.currentTrack].dataset;

          var atcButtonIcon = document.querySelector('.single-footer-player .single-track-add-to-cart .single-track-btn')
          atcButtonIcon.innerHTML = '<i class="material-icons single-add-track-to-cart-icon-' + this.currentTrackData.trackId + '">add_shopping_cart</i><span>$0.99</span>';

          this.links[this.currentTrack].classList.add('active');

          document.querySelector('.track-title').innerHTML = this.currentTrackData.title;
          document.querySelector('.track-artist').innerHTML = this.currentTrackData.artist;
          document.querySelector('.track-tuning').innerHTML = this.currentTrackData.tuning;
          document.querySelector('.track-bpm').innerHTML = this.currentTrackData.bpm;
          document.querySelector('.single-footer-add-to-cart span').innerHTML = this.currentTrackData.price;

          this.wavesurfer.load(this.currentTrackData.href);
        } else {
          this.wavesurfer.playPause();
        }
      },

      // Add track to cart
      addTrackToCart: function addTrackToCart(variantId, trackId, e) {
        if(e) { e.preventDefault(); e.stopPropagation(); }

        $.post('/cart/add.json', { quantity: 1, id: variantId },
          function (variant) {
            var els = $('.single-add-track-to-cart-icon-' + trackId);
            els.each(function(i) {
              $(this).replaceWith('<a href="/cart"><i class="material-icons animated pulse">check_circle</i></a>');
            });

            $.get('/cart.json', function (cart) {
              var cartElem = $('.cart-count-bubble');
              if (!cartElem) {
                return;
              }
              cartElem.find('span:first-of-type').text(cart.item_count);
              cartElem.find('span:last-of-type').text(cart.item_count + ' items');

            });
          }).fail(function () {
            {% comment %} // This happens if track fails to add. --> {% endcomment %}
            alert('Failed to add track to cart!');
          });
      },

      // Format time
      toHHMMSS: function toHHMMSS(secs) {
        var sec_num = parseInt(secs, 10)
        var hours   = Math.floor(sec_num / 3600)
        var minutes = Math.floor(sec_num / 60) % 60
        var seconds = sec_num % 60

        return [hours,minutes,seconds]
            .map(v => v < 10 ? "0" + v : v)
            .filter((v,i) => v !== "00" || i > 0)
            .join(":")
      },

      init: function() {
        this.addEventListeners()
        this.addWavesurferListeners()
      }
    }

    singleAlbumPlayer.init()
  </script>
{% endif %}

{% render 'single-ajaxify-album' %}

{% schema %}
{
  "name": "Single Music Player",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Single Music Player",
      "blocks": []
    }
  ]
}
{% endschema %}